body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

form,
table {
    width: 100%;
}

input,
button {
    margin-top: 10px;
}


/* /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="number"] {
    width: 200px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* 
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
}

table th {
    background-color: #007bff;
    color: #fff;
} */


/* #studentDetails {
    margin-bottom: 20px;
}

#status {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
}

#error {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
}  */